#services {
   

}
#services .title{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin: 90px ;
  
}

#services .title .circle{
    position: absolute;
    background: #DBF1FF;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 0;

}

#services .title h2{
    font-size: 2.5rem;
    z-index:1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;

}
#services .service-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}



#services .service-container .box{
    background: rgba(255, 255, 255, 0);
    transition: all .4s ease-in-out;
   padding:15px;
   
}

#services .service-container .box:hover{
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: -2px 11px 39px -5px rgba(0,0,0,0.45);
    -moz-box-shadow: -2px 11px 39px -5px rgba(0,0,0,0.45);
    box-shadow: -2px 11px 39px -5px rgba(0,0,0,0.45);
    cursor: pointer; 
}

#services .service-container .box.blue{
    border-bottom: 2px solid blue ;
   
}

#services .service-container .box.red{
    border-bottom: 2px solid red ;  
}

#services .service-container .box.yellow{
    border-bottom: 2px solid orange ; 
}

#services .service-container .box h2{
     padding: 20px 0;
     font-weight: 600;
     letter-spacing: 1px;
}

#services .service-container .box p{
    font-size: 0.8rem;
    line-height: 20px;
    letter-spacing: 1px;
}
#services .service-container .box .fas{
    font-size: 2rem;
}



